---
layout: base
---
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-mobile" id="content">
								<h2 class="major">{{ page.title }}</h2>
								<article id="main">
									<p>
										{{ content }}
									</p>
									<section>
										<header>
											<h3>Work Experience</h3>
										</header>
				<div class="row">
					{% assign reslist = site.resitems | sort: "order" | reverse %}
					{% for job in reslist %}
						{% if job.category == "job" %}
							<article id="{{ job.title }}-{{ job.company }}" class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{{ job.imageurl }}" alt="" style="max-width:100%;max-height:100px;width:auto"/></a>
								<header>
									<h3 ><a href="{{ job.website }}">{{ job.title }}</a></h3>
									<h6 class="alt">{{ job.company }}</h6>
									<h6 class="alt">{{ job.startdate }} -> {{ job.enddate }} </h6>
								</header>
								<p>
									{{ job.content }}
								</p>
							</article>
						{% endif %}
					{% endfor %}
							
				</div>
								</article>
									</section>
							</div>
							<div class="col-4 col-12-mobile" id="sidebar">
								<section>
									<header>
										<h3>A few of my projects:</h3>
									</header>
									<p>
									These include research, industry, class & personal projects.
									</p>
									<div class="row gtr-50">
									{% for project in reslist %}
										{% if project.category == "project" %}
										
								{% if project.image %}
									
										<div class="col-8">
											<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
										</div>
								{% endif %}

										<div class="col-8">
											<h4>{{ project.title }}</h4>
											<p>
											{{ project.content }}
											</p>
<a href="{{ project.extralink }}" class="button">{{ project.extras }}</a>
										</div>
												
											</article>
										{% endif %}
									{% endfor %}

									</div>
								<!--	THIS IS IF I WANT TO HAVE AN OPTION TO EXPAND
									<footer>
										<a href="#" class="button">Magna Adipiscing</a>
									</footer> -->
								</section>
							</div>
						</div>
						<hr />
					</div>

				</div>
