---
layout: base
---
<!--
	Categories:	
		Jobs		Full Screen Things
		Projects	Side-by-side
		Organizations	LANDED-Small bubbles
		Skills?	
		Accomplishments	LANDED-Small bubbles
-->
{% assign reslist = site.resitems | sort: "order" | reverse %}
{% for job in reslist %}
	{% if job.category == "job" %}
	<section id="{% cycle 'one', 'two', 'three', 'four' %}" class="wrapper{% cycle " ", " alt " %}spotlight style{% cycle '1', '2', '3', '4' %}">
		<div class="inner">
		<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
		<div class="content">
			<h1 class="major">{{ job.title }}</h1>
			<h3 class="alt">{{ job.company }}</h3>
			<h3 class="alt">{{ job.startdate }} -> {{ job.enddate }} </h3>
			<p>{{ job.content }}</p>
		</div>
		</div>
		</section>
	{% endif %}
{% endfor %}

<section id="four" class="wrapper alt style1">
	<div class="inner">
		<h2 class="major">Projects</h2>
		<section class="features">
{% for project in reslist %}
	{% if project.category == "project" %}
		<article>
			<a class="image"><img src="images/pic01.jpg"></a>
			<h3 class="major">{{ project.title }}</h3>
			<p>{{ project.content }}</p>
			<a href="{{ project.extralink }}" class="special">{{ project.extras }}</a>
		</article>
	{% endif %}
{% endfor %}
		</section>
	</div>
</section>
